.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.button {
	composes: button from "../Article/style.scss";
	margin: 0 auto;
}
.btn {
	width: 150px;
	margin: 0 auto;
}